<launch>
    <arg name="namespace" default=""/>
    <arg name="use_gui" default="false"/>
    <param name="/use_sim_time" value="true"/>

    <param name="robot_description" command="xacro --inorder '$(find cust_robot_description)/robots/cust_robot_default.urdf.xacro'" />

    <!-- Publish transform for rotations to world frame -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_tf" args="0 0 0 0 0 0 1 map cust_robot/base_link 30"/>

    <param name="use_gui" value="$(arg use_gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cust_robot_description)/rviz/view.rviz" required="true" />
    <node pkg="rqt_topic" type="rqt_topic" name="rqt_topic"/>

    <!--  Transforms  -->
    <node pkg="tf" type="static_transform_publisher" name="gps_tf" args="0 0 0 0 0 0 1 cust_robot/base_link gps 30"/>
    <node pkg="tf" type="static_transform_publisher" name="imu_tf" args="0 0 0 0 0 0 1 cust_robot/base_link imu 30"/>

    <include file="$(find cust_robot_description)/launch/localization.launch" />

    <!-- Playback of sample GNSS data -->
    <node name="rosbag_play" pkg="rosbag" type="play" args="--clock $(find cust_robot_description)/misc/sample.bag" />

</launch>